@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 10, 10, 10;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  scroll-behavior: smooth; /* 부드러운 이동 */
}

/* 힙한 네온 효과를 위한 유틸리티 */
.neon-glow {
  box-shadow: 0 0 15px theme('colors.dj-pink');
}